.section {
  width: 100%;
  margin: 0 auto;
}

.container-section {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.home-button {
    position: fixed;
}

.home-button {
    border: none;
    background: transparent;
}

.home-button img {
    height: 60px;
}

#back {
    left: 50px;
    top: 70px;
}

#plus {
    right: 50px;
    bottom: 50px;
}
